*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

:root{
    --background-color:#4f6d7a;
    --border-radious:8px;
}

.box{
    width: 400px;
    height: 500px;
    background-color: #c0d6df;
    margin-left: 35%;
    
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--background-color);
    height: 20vh;
    text-transform: capitalize;
    color: white;
}

.qr-body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.qr-body input{
    width: 200px;
    height: 35px;
    border-radius: var(--border-radious);
    border: none;
    cursor: pointer;
    padding-left: 10px;
    outline: none;

}

.qr-body i{
    width: 40px;
    height: 40px;
}

.qr-footer{
    
}