*{
    margin: 0;
    padding: 5px;
    background-color: rgb(61, 94, 73);
    color: #fff;
    text-align: center;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.wrapper{
    height: 580px;
    width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    margin-top: 40px;
}

h1{
    color: rgb(135, 201, 3);
    font-weight: 800;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

h3{
    width: 145px;
    height: 25px;
    border-radius: 10px;
    background-color: transparent;
    background-color: rgb(5, 93, 11);
    margin-bottom: 20px;
    border: 2px solid rgb(5, 93, 11);
}

.form{
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input[type=text] {
    height: 30px;
    width: 200px;
    border-radius: 15px;
    margin: 20px;
    outline: none;
}

.form input[type=submit]{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    background-color: rgb(5, 93, 11);
    margin-bottom: 20px;
}

.button{
    align-items: center;
    cursor: pointer;
}

#newGame {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(132, 86, 0);
    color: white;
    border-radius: 8px;
}