*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eff2d8;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f0f4e3;
    font-family: 'Arial', sans-serif;
    color: #3a5a40; 
    padding: 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
h1{
    color: #3a5a40;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #588157;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    padding: 10px;
}


.input-container{
    margin-block: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    background-color: #f0f4e3;
    padding: 10px;  
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.input-container input[type="text"]{
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #d5d7c3;
    font-size: 16px;
    text-underline-offset: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    outline: none;
    clip-rule: inherit;
}

.input-container input[type="button"] {
    padding: 15px;
    border-radius: 10px;
    background-color: #588157;
    color: #ffffff;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;

}

ul{
    width: 80%;
    max-width: 450px;
}

ul li{
    list-style-type: none;
    border: 1px solid #3a5a40;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-block-end: 12px;
    color: #427041;
    font-size: 18px;
    padding: 6px 12px;

}
ul li p{
    flex-grow: 1;
    padding: 10px;
}
.btn{
    padding: 5px;
    width: inherit;
    background-color: #57cc99;
    border-radius: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover{
    opacity: 80%;
    border: 1px solid black;
}
